{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

<main>
    <h1>Make Headlines</h1>
    <div class="explainer">
        <p>Most news headlines have a positive or negative slant. Try nudging some of them. <a href="/about">Learn
                more</a>.
        </p>
        <p>Example: <i>China Threatens U.S. over Taiwan Trips</i> (negative, 100%) →<br /> <i>China Encourages Restraint
                in
                Future
                Taiwan Trips</i> (negative, 76%) → <br /><i>China Encourages U.S. Officials to Visit Countries That Are
                Not
                Taiwan</i> (positive, 82%) → <br /><i>China Celebrates Visits to non-Taiwanese Countries, Encourages
                Washington to
                Follow Suit</i> (positive, 100%)</p>
    </div>

    <div id=main-rewrite-container class="rewrite-container">

        <a>
            <h2 id="original-headline">Loading...</h2>

            <div class="sentiment-graph">Loading...</div>
        </a>

        <form id="rewrite-form" action="/api/rewrite" method="POST">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != "hidden" %}

            {{ field.label }}
            {{ field }}

            {% endfor %}
            <button>Submit</button>
        </form>
        <form id="switch-headline"><button>Get a different headline</button></form>

        <ul id="rewrite-list"></ul>
    </div>

    <h2 id="previous-headlines">Previous Headlines</h2>
    <div id=old-rewrites>
    </div>

    <script src="/static/app.js"></script>
</main>
{% endblock %}