{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Edit Profile</h1>

<form id="profile-form" action="/profile" method="POST" class="user-form">
    {{ profile_form.hidden_tag() }}

    {% for field in profile_form if field.widget.input_type != "hidden" %}

    {{ field.label }}
    {{ field }}
    {% if field.errors %}
        <ul class=form-errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% endfor %}
    <button>Edit Profile</button>
</form>
<p><a href="/password">Click here to change your password.</a></p>

{% endblock %}
